@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Dancing+Script&family=Poppins:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:opsz,wght@6..96,500&family=Dancing+Script&family=Poppins:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Just+Another+Hand&family=Patrick+Hand&family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Just+Another+Hand&family=Patrick+Hand&family=Press+Start+2P&family=Sacramento&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Indie+Flower&family=Just+Another+Hand&family=Patrick+Hand&family=Press+Start+2P&family=Sacramento&family=VT323&display=swap');


/* STYLE INDEX */
body {
   padding: 0;
   margin: 0;
   font-family: 'bebas neue';
}


.tela {
   /* border: 3px solid green; */
   height: 100%;
}

.container .navBar {
   /* font-family: Poppins; */
   display: flex;
   /* border: 3px solid red; */
   height: 10vh;
   margin: auto;
   font-size: 25px;
   color: white;
   background-color: black;
   justify-content: space-evenly;

}


ul {

   list-style: none;

}

a{
   text-decoration: none;
   color:white;
}

.logo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: auto;
   height: auto;

}


.login,.faq {
   display: flex;
   justify-content: space-between;
   justify-items: flex-end;
   align-items: center;

}

.containerSobre{
   margin-right: 0%;
   padding: 0%;
   /* border:3px solid blue; */
   width: 20vw;
   height: 76vh;

}

.sobre {
   /* border:3px solid blue; */
   width: 20vw;
   margin-right: 0%;
   padding-right: 0%;
}

.postagem{
   /* border:3px solid blue; */
   margin-left: 0%;

}

.titulo {
   font-size: 40px;
   font-weight: 900px;
   color: black;
   font-family: 'Sacramento';
   /* padding: 2%; */
   /* margin-right: auto; */
}

.fotoSobre {
   width: 85%;
   border-radius: 50%;
}

.info {

   font-family: 'Balsamiq Sans';
   color: gray;
   font-size: 15px;
}



.post {
   display: flex;
   /* border:3px solid black; */
   width: vw;
   height: 70vh;
   margin-left: 0.2%;
   padding-left: 1%;
   padding-top: 0.5%;
}

.containerHome {
   display: grid;
   grid-template-columns: 0fr 10fr;
   padding-left: 0.5%;
   margin: auto;
}

.iptTitulo {
   width: 40vw;
   height: 5vh;
   font-family: 'bebas neue';
   font-size: 20px;
   margin-left: 0px;
 padding-left: 0%;
}

.iptConteudo {
   width: 40vw;
   height: 15vh;
   word-wrap: break-word;
   font-size: 15px;
   padding-left: 0%;
}

.submit,
.reset {
   font-family: 'bebas neue';
   background-color: black;
   color: white;
   font-size: 15px;
   border-radius: 20%;
}

.arquivo {
   font-family: 'bebas neue';
   background-color: black;
   color: white;
   font-size: 15px;
   width: 20vw;
}

.footer {
   background-color: #000000;
   height: 75px;
   color: #fff;
   display: flex;
   font-size: 20px;
   justify-content: center;
   align-items: center;
   font-family: 'Patrick Hand';
   margin-bottom: auto;
}

.titlePost{
   margin-left: 50px;
}

.postEstatico1{
   justify-content: center;
   align-items: center;
   border: #000000 solid 3px;
   border-radius: 2%;
   padding: 2%;
   box-shadow: 10px 10px rgb(0, 0, 0);
   width: 70%;
   height: 20%;
   margin-left: 100px;
   font-size: 15px;
}

.publicacao{
   justify-content: center;
   align-items: center;
   border: #000000 solid 3px;
   border-radius: 2%;
   padding: 2%;
   box-shadow: 10px 10px rgb(0, 0, 0);
   width: 70%;
   height: 20%;
   margin-bottom: 2%;
   margin-left: 100px;
   font-size: 15px;
}

.publicacao-nome{
   color:dimgrey;
}
/* #feed_container{
   display: flex;
   flex-direction: row;
} */


/* .div-results{
     justify-content: center;
   align-items: center;
   border: #000000 solid 3px;
   border-radius: 2%;
   padding: 2%;
   box-shadow: 10px 10px rgb(0, 0, 0);
   width: 70%;
   height: 20%;
   margin-left: 100px;
   font-size: 15px;
   margin-bottom: 80px;
} */

 /* FIM DO STYLE TELA INDEX */

/* STYLE TELA DE CADASTRO */

.txtPassaCad{
   color: rgb(0, 0, 0);
}

.bodyCad{
   background-color: rgb(255, 255, 255);
}


.divCad{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.5%;
}

.divCad .container{

   background: rgb(0, 0, 0);
   /* backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px); */
   justify-content: center;
   align-items: center;
   font-size: 20px;
   color: white;
   display: grid;
    width: 67vh;
    justify-items: stretch;

}

.btnCad{
   font-family: 'bebas neue';
   background-color: white;
   color: black;
   font-size: 15px;
   border-radius: 10%;
   width: auto;
   height: auto;
   align-items: center;
   justify-content: center;
}

/* FIM DO STYLE TELA DE CADASTRO */

/* STYLE TELA DE LOGIN */

.bodyLogin{
   background-color: white;
}

.txtOla{
   justify-content: center;
   align-items: center;
   display: flex;
}

.formLogin{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.5%;
}
.formLogin .container{
   background: rgb(0, 0, 0);
   justify-content: center;
   align-items: center;
   font-size: 20px;
   color: white;
   display: grid;
    width: 75vh;
    justify-items: stretch;
}

.btnLogin{
   font-family: 'bebas neue';
   background-color: white;
   color: black;
   font-size: 15px;
   border-radius: 10%;
   width: auto;
   height: auto;
   align-items: center;
   justify-content: center;
}

/* FIM STYLE TELA DE LOGIN */

/* INICIO STYLE TELA SIMULADOR */

.bodySim{
   background-color: black;
   color: white;;

}

.divSim{
      display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.5%;
}
.divSim .container{
   background: rgb(0, 0, 0);

   font-family: 'patrick hand';
   justify-content: center;
   align-items: center;
   font-size: 20px;
   color: white;
   /* display: grid; */
    width: 67vh;
    justify-items: stretch;
   /* display: flex; */
   justify-content: center;
}
.span{
   font-size: 15px;
}

.titleSim{
   font-size: 30px;
   justify-items: center;
   justify-content: center;
   align-items: center;
}

.iptSim{
   width: 40vw;

}
.btnSim{
   font-family: 'bebas neue';
   background-color: white;
   color: black;
   font-size: 15px;
   border-radius: 0%;
   width: auto;
   height: auto;
   align-items: center;
   justify-content: center;
}

.btnSimConf{
   font-family: 'bebas neue';
   background-color: white;
   color: black;
   font-size: 15px;
   border-radius: 0%;
   width: 40vw;
   height: auto;
   align-items: center;
   justify-content: center;
}
/* FIM STYLE TELA SIMULADOR */