@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Dancing+Script&family=Poppins:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:opsz,wght@6..96,500&family=Dancing+Script&family=Poppins:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Just+Another+Hand&family=Patrick+Hand&family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Just+Another+Hand&family=Patrick+Hand&family=Press+Start+2P&family=Sacramento&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Indie+Flower&family=Just+Another+Hand&family=Patrick+Hand&family=Press+Start+2P&family=Sacramento&family=VT323&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'bebas neue';
 }

 .tela{
    border: 3px solid green;
    height: 700px;
 }

 .container .navBar {
    /* font-family: Poppins; */
    display: flex;
    /* border: 3px solid red; */
    height: 10vh;
    margin: auto;
    font-size: 25px;
    color: white;
    background-color: black;
    justify-content: space-evenly;
    
 }

 
ul{

    list-style: none;

}
.logo{
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.login{
   display: flex;
   justify-content: space-between;
   justify-items: flex-end;
   align-items: center;
   
}

 .sobre{
    /* border:3px solid blue; */
    width:20vw;
 }

 .titulo{
   font-size: 40px;
   font-weight: 900px;
   color: black;
   font-family: 'Sacramento';
 }

 .fotoSobre{
      width: 85%;
      border-radius: 50%;
 }

 .info{
   font-family: 'Balsamiq Sans';
   color: gray;
   font-size: 15px;
 }


 .post{
    display: flex;
    /* border:3px solid black; */
    width:vw;
    height: 70vh;
    margin-left: 1%;
    padding-left: 1%;
    padding-top:0.5%;
 }

 .containerHome{
    display: flex;
    flex-direction: row;
    padding-left:0.5%;
    margin: auto;
 }

 .iptTitulo{
   width: 74vw;
   height: 5vh ;
   font-family: 'bebas neue';
   font-size: 20px;
 }
 .iptConteudo{
    width: 74vw;
    height: 45vh;
    word-wrap: break-word;
    font-size:15px;
 }

 .submit{
    font-family: 'bebas neue';
    background-color: black;
    color:white;
    font-size: 15px;
 }

 .arquivo{
   font-family: 'bebas neue';
   background-color: black;
   color:white;
   font-size: 15px;
   width: 20vw;
}

